.login-form {
    padding: 25px;
    float: right;
}

.login-form .form-login {
    background-color: transparent;
    padding: 10px 20px 20px;
    border-radius: 15px;
    border: 5px transparent;
}

.login-form .form-control {
    border-radius: 10px;
}

.login-form .wrapper {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.form-control {
    font-size: 24px;
}

.btn-login {
    font-size: 24px;
    background-color: #237585;
    border-radius: 15px;
    border: 5px transparent;
 }